.footer {
    background: #000000;
    padding: 107px 0 93px 0;
    height: 324px;
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        a {
            display: block;
        }
    }
    &__list {
        width: 832px;
        height: 124px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__link {
        
        margin-bottom: 10px;
        list-style: none;
        a {
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: -0.05em;
            color: #D9D9D9;
        }
    }
}